@font-face {

    font-family: 'Ambroise-Regular';
    src: url('Ambroise-Regular.svg#Ambroise-Regular') format('svg'),
        url('Ambroise-Regular.woff2') format('woff2'),
        url('Ambroise-Regular.woff') format('woff'),
        url('Ambroise-Regular.ttf') format('truetype'),
        url('Ambroise-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}
 


html {
    height: 100%;
}

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #EDEDED;
    margin:0;
    padding:0;
    position: relative;
    padding-bottom: 5.5rem;

}



img {
    max-width: 100%;
}

#logo {
    display: none;
}

#logo-mobile {
    max-width: 14.813em;
    /*    margin: 2.125em auto;*/
    margin: 1.5em auto;
    display: block;
}



.navbar-toggler {
    border: 2px solid black !important;
    border-radius: 100px;
    margin: 0 auto;
}
.navbar-toggle-icon {
    background-color: #EFEDED;
}


/**** NAV ****/





ul {
    list-style: none;
    text-align: center;
    text-decoration: none;
    padding: none;
}


li a {
    text-align: center;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: black;
    margin: 0 3.5em;
    padding: 0 !important;
    width: 4em;

}




li .nav-link:hover {
    content:"";
    display: block;
    color: black;
    border-bottom: 3px solid #FF003A;
    height: 2em;

}

.nav-item {
    text-align: center;
}

#about {
    width:4.2em;
    margin: 2em auto 1em;
}

#work {
    width:4em;
    margin: 1em auto;
}



#remove-mobile {
    display: none;
}

 button {
        display: inline-block;     border: 3px solid #FF003A;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.000001);
     margin-top: 1em;
        padding: 1em 3em;
    }

    button a {
        margin: 0 auto;
    }


    .contact-border {
        border-radius: 5px;
    }

.work {
    margin: 1.5em 0 3em 0;
}


#navbarNav-remove {
    visibility: hidden;
}

/*******/









/**** ABOUT ****/


.about {
    text-align: left;
    text-transform: none;
    color:black;
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 2em;
    padding: 0;
    margin: 0 2em 2em 2em;
}

.medium,
#copywrite {
    font-weight: 500;
}

#hi {
    font-family: 'Ambroise', 'Vidaloka', serif;
    letter-spacing: 0;



    color: #FF003A;
    font-size: 3.5em;
    text-transform: none;
    letter-spacing: 0.12rem;

}


#cv {
    text-decoration: none;
    color: #FF003A;
}










/**** WORK *****/

.col-lg-3, .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

#portfolio {
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight:800;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 3.06px;
    max-width: 100%;
}


#portfolio .portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
}
#portfolio .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#portfolio .gusto .portfolio-box-caption {
    background: rgba(255, 189, 0, 0.9);
}

#portfolio .soundscape .portfolio-box-caption {
    background: rgba(255, 0, 58, 0.9);
}

#portfolio .aqua .portfolio-box-caption {
    background: rgba(158, 0, 89, 0.9);
}

#portfolio .ocj .portfolio-box-caption {
    background: rgba(57, 0, 153, 0.9);
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
}

#portfolio .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.margin-top {
    margin-top: 4em;
}

.view-more {
    padding-top: 4em;
    color: #000;
}


/*** FOOTER ***/

#footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0;
    left:0;
    padding: 1rem;
    height: 5.5rem;   
}


#copywrite {
    padding: 1.5em 0;
    font-weight: 700;
    font-size: 0.875em;
    letter-spacing: 0.0525em;
}

.social-icon {
    max-width: 48px;
    margin-left: 0 auto;
}

#middle-icon {
    margin: 0 1.5em;
}

 .left-icon {
        margin: 0 auto;
    }


a #cv {
    text-decoration: none;
    color: #FF003A;
}


/******* Case studies *****/

.casestudy-img {
    padding: 0;
    max-width: 100%;
}


@media (min-width: 576px) {
    
    
    
    
    #hi {   
        font-size: 5em;
        text-transform: none;
        letter-spacing: 0.12rem;

    }
    
    .about {
    font-size: 1.25em;
    letter-spacing: 0.06em;
    margin: 0;
}
    
    #copywrite {
    margin-right: 2em;
    text-align: right;
    }

}



@media (min-width: 768px) { 



    #logo {
        max-width: 14.813em;
        margin: 2.125em 0 5.750em 0;
        margin: 2.125em 0 4em 0;
        display: block;
    }

    #logo-mobile {
        display: none;
    }

    .navbar-nav {
        margin-right: 2em;
    }

    li a {
        text-align: center;
        display: inline-block;
        margin: 0;
        text-decoration: none;
        color: black;
        margin: 0 3.5em;
        padding: 0 !important;
    }


    button {
        display: inline-block;
        border: 3px solid #FF003A;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.000001);
        padding: 1.5em 4em;
        margin-left: 3em;
        margin-top: -3.563em;
        margin-right: 0;
    }

    button a {
        margin: 0 auto;
    }


    .contact-border {
        border-radius: 5px;
    }


    .hide {
        display: none;
    }


    #navbarNav-remove {
        visibility: visible;
    }

    .social-icon {
        max-width: 48px;
    }


    .text-align-left {
        text-align: left;
    }

    #middle-icon {
        margin: 0 2em;

    }     
    .left-icon {
        margin-left: 2em;
    }


}

@media (min-width: 992px) {

    button {
        padding: 1.5em 6em;
    }

    .casestudy-img {
        padding: 0;
        max-width: 62.500em;
    }
}
